<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">

    <title>leftoverswithlove</title>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <p class="logo"><img src="../static/images/logo.png" alt=""></p>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              
                <ul class="navbar-nav">
                  
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/connect">Join Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/work">How We Work</a>
                    </li>
                </ul>
              
            </div>

        </div>
    </nav>
    <center>
        <div class="form-container">
            <form method="post">
                <h1 class="heading">Register</h1>
                <label for="username" class="label">USERNAME:</label> <br>
                <input type="username" name="username" class="input-form"> <br>
                <label for="password" class="label">PASSWORD:</label> <br>
                <input type="password" name="password" class="input-form"> <br>
                <!-- <label for="username" class="label">PASSWORD:</label> <br> -->
                <!-- <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                      Registering For
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" for="dropdown"> 
                      <li><a class="dropdown-item" href="#">Yourself</a></li>
                      <li><a class="dropdown-item" href="#">Someone Else I Know</a></li>
                    </ul>
                  </div> -->
                  {% if msg == true %}
                  <br>
                  <!-- <br> -->
                  <label for="info" class="Info">You have been registered. Go ahead and </label><a href="/connect">login</a>
                  <!-- <br> -->
                  <br>    
                      
                  {% endif %}
                <button type="submit" class="submit">Submit</button>
                
            </form>
        </div>
        </center>

</body>

</html>